.container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". main . ";
  }

  .wb {
  grid-area: main;
  color: #FF00FF;
  }


body {
  font-family: "Ucity", Arial, sans-serif;
  margin: auto;
  width: 100%;
  align: center;
}

h1 {
  font-size: 1em; /* 30px/16=1.875em */
  font-weight: 350;
  letter-spacing: 0.5;
  color: #AAA;
  margin-bottom: 18px;
}

h2 {
  margin-top: 12px;
  font-size: 1.6em; /* 30px/16=1.875em */
  color: #404040;
  font-weight: 400;
}
